@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans'), url('./NotoSans-ExtraLight.woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans'), url('./NotoSans-Light.woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), url('./NotoSans-Regular.woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans'), url('./NotoSans-Medium.woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Noto Sans'), url('./NotoSans-SemiBold.woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans'), url('./NotoSans-Bold.woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Noto Sans'), url('./NotoSans-ExtraBold.woff2');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans'), url('./NotoSans-Black.woff2');
}
